<?xml version="1.0" encoding="utf-8"?>
<settings>
  <autoload>
    <addon>GearSwap</addon>
    <addon>InfoBar</addon>
    <addon>PetTP</addon>
    <addon>DistancePlus</addon>
    <addon>send</addon>
    <addon>findAll</addon>
    <addon>shortcuts</addon>
    <addon>Treasury</addon>
    <addon>plugin_manager</addon>
    <addon>indinope</addon>
    <plugin>LightLuggage</plugin>
    <plugin>Sandbox</plugin>
    <plugin>Timers</plugin>
    <plugin>DelayMeNot</plugin>
    <plugin>Config</plugin>
  </autoload>
  <profile name="">
    <consolekey>Insert</consolekey>
    <gamma>0.2086957</gamma>
    <uiscale>1</uiscale>
    <hardwaremouse>false</hardwaremouse>
    <alwaysplaysound>false</alwaysplaysound>
    <alwaysenablegamepad>false</alwaysenablegamepad>
  </profile>
  <profile name="DualBox">
    <consolekey>Insert</consolekey>
    <windowmode>Window</windowmode>
    <width>1280</width>
    <height>720</height>
    <gamma>0.173913</gamma>
    <uiscale>1</uiscale>
    <hardwaremouse>false</hardwaremouse>
    <alwaysplaysound>false</alwaysplaysound>
    <alwaysenablegamepad>false</alwaysenablegamepad>
  </profile>
</settings>